<footer class="site-footer" style="padding: 1em 2em; font-family: 'Helvetica Neue', sans-serif; font-size: 0.9em; color: #666;">
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <a href="https://www.instagram.com/ensemblemeliora/" target="_blank" rel="noopener noreferrer" 
     style="text-decoration: none;">
    <img 
      src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/instagram.svg" 
      alt="Instagram" 
      style="width: 32px; height: 32px; vertical-align: middle;"
    >
  </a> <br>
   <a href="https://www.facebook.com/p/Ensemble-Meliora-61576541722778/" target="_blank" rel="noopener noreferrer" 
     style="text-decoration: none;">
    <img 
      src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/facebook.svg" 
      alt="Facebook" 
      style="width: 32px; height: 32px; vertical-align: middle;"
    >
    </a> <br>
    <a href="https://www.youtube.com/channel/UCQe8iY4t9qtIlWZyMRyMdHQ" target="_blank" rel="noopener noreferrer" 
     style="text-decoration: none;">
    <img 
      src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/youtube.svg" 
      alt="Youtube" 
      style="width: 32px; height: 32px; vertical-align: middle;"
    >
  </a>
    <div>
      Photography by <a href="https://www.meiyoshimurastone.com">Mei Day Photography</a>
    </div>
  </div>
</footer>
